.contenedor-SeleccionRol{
    position: relative;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0);
    backdrop-filter: blur(10px);
    width: 450px;
    height: 250px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
}


.contenedor-SeleccionRol h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  
  .opciones-rol {
    display: flex;
    gap: 20px; 
  }
  
  .opciones-rol button {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
    cursor: pointer;
    font-size: 16px;
    color:rgb(255, 255, 255);
    font-weight: 700;
    transition: background-color 0.5s ease;
  }
  
  .opciones-rol button:hover {
    background-color: #3cb3cb;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }