.header {
  background-color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border: 2px solid #ffffff;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

.logo {
  font-size: 24px;
  color: white;
  flex-grow: 1; 
  text-align: left;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
  height: 50px;
}

.nav-button {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .4);
  cursor: pointer;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: background-color 0.5s ease;
  text-align: center;
  width: auto; 
  text-decoration: none;
}

.nav-button:hover {
  background-color: rgb(30, 162, 202);
  color: white;
}

.nav-button:active {
  transition: background-color 0.5s ease;
}

body {
  padding-top: 100px; 
}
  