.modal-buttons {
  display: flex;
  justify-content: space-between; /* O usa center si prefieres que estén centrados */
  align-items: center; 
  width: 100%;
  gap: 10px; /* Espacio entre los botones */
}

.btn-guardar, .btn-cancelar {
  flex: 1; /* Hace que ambos botones ocupen el mismo espacio */
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin: 0; /* Elimina márgenes que puedan desalinear */
}

.btn-guardar {
  background-color: rgb(0, 150, 0);
  color: white;
}

.btn-guardar:hover {
  background-color: rgb(0, 200, 0);
}

.btn-cancelar {
  background-color: rgb(200, 0, 0);
  color: white;
}

.btn-cancelar:hover {
  background-color: rgb(255, 0, 0);
}




