.login-doctor {
    position: relative;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0);
    backdrop-filter: blur(10px);
    width: 470px;
    height: 460px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.login-doctor .cosas-login {
    width: 100%;
    padding: 30px;
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box .icono {
    position: absolute;
    right: 15px;
    transform: translateY(15px);
    font-size: 20px;
}

.recuperar-contraseña a p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 15px;
}

.recuperar-contraseña a:hover {
    text-decoration: underline;
}

.recuperar-contraseña a {
    color: rgb(139, 1, 127);
    text-decoration: none;
}

.registrarse {
    text-align: center;
    transform: translateY(7px);
}

form button {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: background-color 0.5s ease;
}

form button:hover {
    background-color: rgb(30, 162, 202); 
}

.error-message {
    color: red;
    text-align: center;
    margin-top: -10px;
}

.register-link {
    color: rgb(139, 1, 127);
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.login-paciente-link{
    text-align: center;
}

.patient-login-link:hover{
    text-decoration: underline;
}