.perfil-doctor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 100%;
    
}

.perfil-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.perfil-imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.perfil-detalles {
    flex-grow: 1;
    margin-left: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #34495E;
}

p {
    font-size: 1.1em;
    color: #7F8C8D;
    line-height: 1.6;
}

.edit-button {
    background-color: #3498DB;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.edit-button:hover {
    background-color: #2980B9;
}

.perfil-extra {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.perfil-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    width: 48%;
}

.perfil-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2C3E50;
}

.perfil-card p {
    font-size: 1.1em;
    color: #7F8C8D;
    margin-bottom: 5px;
}

.perfil-citas {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.citas-bar-container {
    margin-top: 10px;
}

.citas-bar {
    background-color: #ecf0f1;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 25px;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.citas-bar-fill {
    background-color: #2ecc71;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
}

.citas-bar-text {
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .perfil-doctor-container {
        padding: 20px;
    }

    .perfil-header {
        flex-direction: column;
        align-items: center;
    }

    .perfil-detalles {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .perfil-extra {
        flex-direction: column;
        gap: 20px;
    }

    .perfil-card {
        width: 100%;
    }
}

.modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}


