.buscar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-top: 20px; 
    width: 100%;
    padding: 20px;
    z-index: 500;
}

.buscar-input {
    width: 60%; 
    height: 50px; 
    padding: 10px;
    font-size: 20px; 
}

.buscar-button {
    margin-left: 20px;
    width: 120px; 
    height: 50px; 
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 20px; 
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: background-color 0.5s ease;
}

.buscar-button:hover {
    background-color: rgb(58, 202, 255);
}

.doctor-list {
    padding-top: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
}

.doctor-card {
    width: 250px; 
    min-height: 350px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctor-imagen {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.doctor-detalles {
    margin-top: 10px;
}

.ver-perfil-button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(58, 202, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.ver-perfil-button:hover {
    background-color: rgb(0, 0, 0);
}

html {
    overflow-y: scroll; 
  }
